##############################################################################
#
# Name: exiftool.config
#
# Function:
#       exiftool configuration defining the custom XMP namespaces written by
#       annotate-film-scans. Passed to exiftool with -config; without it,
#       exiftool silently drops every XMP-AnalogExif and
#       XMP-AnnotateFilmScans tag.
#
# Copyright notice and license:
#       See LICENSE.md
#
# Author:
#       Terry Moore
#
##############################################################################

%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        AnalogExif => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::AnalogExif',
            },
        },
        AnnotateFilmScans => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::AnnotateFilmScans',
            },
        },
    },
);

#
# AnalogExif schema, as defined at
# https://analogexif.sourceforge.net/help/analogexif-xmp.php.
# The AnalogExif app registers the namespace through exiv2, which appends
# the trailing '/', so that's what appears in files AnalogExif writes.
#
%Image::ExifTool::UserDefined::AnalogExif = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-AnalogExif', 2 => 'Image' },
    NAMESPACE => { 'AnalogExif' => 'http://analogexif.sourceforge.net/ns/' },
    WRITABLE => 'string',
    ExposureNumber      => { Writable => 'integer' },
    LensSerialNumber    => { },
    RollId              => { },
    FilmMaker           => { },
    Film                => { },
    FilmAlias           => { },
    FilmGrain           => { Writable => 'integer' },
    FilmType            => { },
    Developer           => { },
    DevelopProcess      => { },
    DeveloperMaker      => { },
    DeveloperDilution   => { },
    DevelopTime         => { },
    Lab                 => { },
    LabAddress          => { },
    Filter              => { },
    ScannerMaker        => { },
    Scanner             => { },
    ScannerSoftware     => { },
);

#
# annotate-film-scans' own schema.
#
%Image::ExifTool::UserDefined::AnnotateFilmScans = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-AnnotateFilmScans', 2 => 'Image' },
    NAMESPACE => {
        'AnnotateFilmScans' => 'https://github.com/terrillmoore/annotate_film_scans/ns/1.0/'
    },
    WRITABLE => 'string',
    AnnotateFilmScansVersion => { },
    CropFactor               => { Writable => 'real' },
    Developer                => { },
    DevelopmentNotes         => { },
    DevelopmentTemperature   => { Writable => 'real' },
    DevelopmentTime          => { },
    ImageNote                => { },
    Make                     => { },
    Model                    => { },
);

1;  # end
